{% load static %}

<articles class="d-flex gap-3 flex-column  mb-4" id="answer_{{ answer.id }}">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <div style="height: 120px;" class="border mb-2 w-100">

                        <img src="{{ answer.author.avatar.url }}" class="img-fluid">
                    </div>

                    <div class="d-flex align-items-center gap-1 me-2" style="min-width: 120px;">
                        <input type="number" id="answer_{{ answer.id }}_likes" class="form-control d-inline-block" value="{{ answer.get_rating }}" readonly style="width: 70px;">
                        {% if request.user.is_authenticated %}
                            <button class="btn btn-success btn-sm"
                                onclick="onLikeButtonClick(event);"
                                data-answer-id="{{ answer.id }}"
                                data-value="1">+</button>
                            <button class="btn btn-danger btn-sm"
                                onclick="onLikeButtonClick(event);"
                                data-answer-id="{{ answer.id }}"
                                data-value="-1">-</button>
                        {% else %}
                            <button class="btn btn-success btn-sm" disabled title="Enter in system to vote">+</button>
                            <button class="btn btn-danger btn-sm" disabled title="Enter in system to vote">-</button>
                        {% endif %}
                    </div>
  
                </div>
                <div class="col d-flex flex-column justify-content-between">
                    <div>
                        <p class="card-text">
                            {{ answer.content }}
                        </p>
                    </div>

                    <div class="d-flex flex-wrap gap-2 align-items-center">
                        {% if request.user.is_authenticated and question.author == request.user.profile %}
                            <input 
                                type="radio"
                                name="correct" 
                                id="correct_{{answer.id}}" 
                                {% if answer.is_accepted %}checked{% endif %}
                                onclick="onRightAnswerClick(event)"
                                data-question-id="{{answer.question.id}}"
                                data-answer-id="{{answer.id}}"
                            >
                            <label for="correct_{{answer.id}}">Correct</label>
                        {% else %}
                            {% if answer.is_accepted %} 
                                <b style="color: green">Right answer!</b>
                            {% endif %}
                        {% endif %}
                    </div>



                </div>
            </div>
        </div>
    </div>
</articles>