{% extends "layouts/base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="d-flex align-items-center gap-3 mb-4">
        <h1>{{ question.title }}</h1>
    </div>

    <articles class="d-flex gap-3 flex-column mb-4">
        {% include 'layouts/questions.html'%}
    </articles>

    {% for answer in answers %}
        {% include 'layouts/answer.html' with answer=answer %}
    {% empty %}
        <div class="alert alert-info">No answers yet!</div>
    {% endfor %}


    {% if page_obj.paginator.num_pages > 1 %}
        <div class="mt-4">
            {% include 'layouts/pagination.html' with page=page %}
        </div>
    {% endif %}
    {% if request.user.is_authenticated %}
    <div class="mt-4">
        <form class="w-60" method="POST" action="">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success" maxlength="32">Answer</button>
        </form>
    </div>
    {% endif %}
{% endblock %}
